<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developed by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.png" rel="icon">

  <title>scothomas</title>  

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('./static/assets/images/skyscrapers.jpeg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>Scott Thomas</h1>
      <p>Financial Operations Professional</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://www.facebook.com/scott.anthony.thomas/" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://github.com/scothomas24" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/scott-thomas-18521512" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>

      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/profile_pic.png" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p> I am an experienced financial services executive currently serving as the Chief Operating Officer of a Registered Investment Advisor. Over the last few years my focus has been on implementing various technologies to streamline asset management operations to support over $2b in AUM across multiple products and advisory platforms. </p>
              <p> I hope to leverage my experience in finance operations, passion for programming, and education in information technology to help a company within the fintech or investment services industry reach their full potential.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="./static/assets/images/astor_mf_sl.png" class="img-responsive" alt="">
                <h3 class="h5"><a href = "https://aim-mf-data.streamlit.app/" target="_blank">Fund Data Dashboard</a></h3>
                <p>A tool built for a fund manager to track and export data on assets and sales by client, intermediary, and product</p>
                <p>Primary tools used: Python, PyCharm, Streamlit</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/peloton_dashboard.jpg" class="img-responsive" alt="">
                <h3 class="h5"><a href = "https://peloton-stats.streamlit.app" target="_blank">Peloton Dashboard</a></h3>
                <p>Fun personal project, interactive dashboard to analyze Peloton ride history metrics like leaderboard performance and favorite instructors</p>
                <p>Primary tools used: Python, VScode, Streamlit</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/astorops_dashboard.jpg" class="img-responsive" alt="">
                <h3 class="h5">Operations Portal (no public access) </h3>
                <p>A website built for an asset management firm to streamline operational processes such as billing, trading, and performance reporting</p>
                <p>Primary tools used: R, RStudio, Shiny, SQL, AWS</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/league_sec_dashboard.jpg" class="img-responsive" alt="">
                <h3 class="h5"><a href = "https://leaguesecapp.streamlit.app" target="_blank">Bowling League Stats</a></h3>
                <p>A personal project that webscrapes leaguesecretary.com to aggregate my bowling statistics over multiple seasons</p>
                <p>Primary tools used: Python, Streamlit</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/astor_dashboard.jpg" class="img-responsive" alt="">
                <h3 class="h5"><a href = "https://jexatl-scott-thomas.shinyapps.io/aum_dashboard/" target="_blank">Astor Dashboard</a></h3>
                <p>A dashboard tool built for an investment manager to track and export historical assets and sales data</p>
                <p>Primary tools used: R, Shiny, RStudio, SQL, AWS</p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/chatgpt_csv.png" class="img-responsive" alt="">
                <h3 class="h5"><a href = "https://chatgpt-csv.streamlit.app/" target="_blank">ChatGPT AI CSV reader</a></h3>
                <p>Dashboard that allows a user to upload a CSV database and leverage OpenAI ChatGPT to analyze and reformat data</p>
                <p>Primary tools used: Python, ChatGPT/OpenAI, Streamlit</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Work Experience</h2>
            <div class="work-experience">
              <small class="date">2014-Present</small>
              <h3 class="h5 date-title">Chief Operating Officer - <a href="http://www.astorim.com" target="_blank">Astor Investment Management</a></h3>
              

              <p> Oversee portfolio trading, composite management, account administration and other back office processes  </p>
              <p> Developed several internal tools using Python, R, and SQL to streamline procedures including billing and trading </p>
              <p> Built and deployed multiple web-based dashboards to centralize management reporting for sales and investment portfolio performance </p>
              <p> Executive and Compliance Committee member, served as interim Chief Compliance Officer in 2022 </p>
              <p> Responsible for managing day to day financial operations, AP, AR, and financial statement reporting </p>
            </div>
          
            <div class="work-experience">
              <!--<small class="date">2017-2015</small>
              <h3 class="h5 date-title">Web developer - <a href="http://mashup-template.com" target="_blank">Mashup Template</a></h3>
              
              <p>Fermentum leo vel orci porta non. Posuere sollicitudin aliquam ultrices sagittis. Aliquam faucibus purus in massa tempor nec.</p> -->

            </div>
          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <h3 class="h5">DePaul University</h3>
                  <h7><a href = "./static/assets/Diploma.pdf" target = "_blank"> Master of Science with Honors - </a></h7><br>
                  <small>Business Information Technology</small>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <h3 class="h5">Purdue University</h3>
                  <h7>Bachelor of Arts - </h7>
                  <small>Public Relations</small>
                </div>
              </div>
              <!-- <div class="col-md-4">
                <div class="education-experience">
                  <small class="date"></small>
                  <h3 class="h5 date-title"></h3>
                  <p></p>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Certifications/Designations</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Google </h3>
                  <small><a href="https://coursera.org/share/f9a300d62deb0234023f59309ec98657" target="_blank"> Data Analytics Professional</a></small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Columbia </h3>
                  <small><a href="./static/assets/columbia_certificate.pdf" target="_blank">Python for Managers</a></small>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">elvtr </h3>
                  <small><a href="./static/assets/ELVTR_certificate.pdf" target="_blank"> Python for Financial Analysis</a></small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

             
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./static/assets/images/astorops_dashboard.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>
              <div class="item">
                <img src="./static/assets/images/skyscrapers.jpeg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>

              <div class="item">
                <img src="./static/assets/images/peloton_dashboard.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>
            </div>

            
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://twitter.com/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>@David_Folley</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>David Folley</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://dribbble.com/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-dribbble"></i></span>David Folley</a></p>
              </div>
            </div>
          </div>
        </div>
      -->
        <div class="card">
          <div class="card-block">
            <h2>Contact Me</h2>
            <form action="submit_form" method = "post" class="reveal-content">
              <div class="form-group">
                <input name = "email" type="email" class="form-control" id="email" placeholder="Email or Phone">
              </div>
              <div class="form-group">
                <input name = "subject" type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name = "message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div> 
            </form>
            <h7 class = "fa fa-phone" > (312) 860-9716 </h7><br>
            <h7 class = "fa fa-at"  >   scothomas24@icloud.com </h7>
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./static/assets/images/mashup-icon.svg" alt=""></p>
        
        <p>©All right reserved. Design <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        <p>
          <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/" title="">
            <i class="fa fa-linkedin"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./static/main.bc58148c.js"></script></body>

</html>
